{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block body %}

    <link rel="stylesheet" href="{% static 'css/kart.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
<div class="container">
    <ul class="breadcrumb">
      <li><a href="{% url 'bagisci_signup' %}">Bağışçı Kayıt</a></li>
      <li><a>Öğretmen Kayıt</a></li>
    </ul>
    {% load crispy_forms_tags %}
    <div class="container-fluid">
          <div class="row">
            <div class="col-4" ></div>
            <div class="col-4 ">
            <h3>OGRETMEN KAYIT OL</h3>
                            <hr>
                            <form method="POST">
                                {% csrf_token %}
                                {{ form|crispy }}
                                <br>
                                <button type="submit" class="btn btn-danger">Kayıt Ol</button>
                            </form>

            </div>
            <div class="col-4"></div>
          </div>
    </div>

</div>
{% endblock %}