{% extends 'base.html' %}
{% load static %}

{% block body %}
    <link rel="stylesheet" href="{% static 'css/kart.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <div class="container">
    <ul class="breadcrumb">
      <li><a href="{% url 'ogrenci' %}">Ögrenci</a></li>
      <li><a>Kırtasiye</a></li>
      <li><a href="{% url 'elektronik' %}">Elektronik</a></li>
      <li><a href="{% url 'cgiyim' %}">Çocuk Giyim</a></li>
    </ul>
    <h1>Ürünler</h1>
         <hr>
        <div class="row">

            {% for item in product %}
                <div class="col-sm-4">
                    <div class="card">
                        <img class="displayed" src="{{ item.image.url }}" alt="Laptop" style="width:200px; height: 200px;">
                        <h3>{{item.title }}</h3>
                        <p class="price">{{ item.price }} TL</p>
                        <p>{{ item.detail}}</p>
                        <div class="container">
                                <div class="row">
                                    <form action="/orders/addtocart/{{ item.id }}" method="post">
                                        {% csrf_token %}
                                        {{ form.as_p }}
                                              <div class="qty-input">
                                                  <span>Adet:</span>
                                                  <label><input class="input" name="quantity" type="number" min="0" max="{{ item.amount }}" value="1"></label>
                                              </div>
                                        <p><button type="submit">Sepete Ekle</button></p>
                                    </form>
                                </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
