
{% extends 'base.html' %}
{% load crispy_forms_filters %}
{% load static %}
{% block body %}
    {% load crispy_forms_tags %}

    <div class="container">
        <div id='map' style='width: 100%; height: 400px;'></div>
        <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiYXlzZWZpcmRldnMiLCJhIjoiY2tobm95aHEwMHJhazJxazE0ZG4yaDAyNSJ9.PBVUJPIeB4zPZO6rtDlKlg';
        var map = new mapboxgl.Map({
        container: 'map',
        style: 'mapbox://styles/mapbox/streets-v11',   <!--uydu olsun dersem satellite- ekle streetsin başına-->
            center: [32.78, 39.89],
             zoom: 11,

        });
        </script>

        <!--================Contact Area =================-->
        <section class="contact_area p_120">
            <div class="container">

                <div class="row">
                    <div class="col-lg-3">
                        <div class="contact_info">
                            <div class="info_item">
                                <i class="lnr lnr-home"></i>
                                <h6>Ankara, Türkiye</h6>
                                <p>Ankara Bulvarı</p>
                            </div>
                            <div class="info_item">
                                <i class="lnr lnr-phone-handset"></i>
                                <h6><a href="#">+90 (312) 226 2188</a></h6>
                                <p>Pazartesi - Cuma 09.00-18.00</p>
                            </div>
                            <div class="info_item">
                                <i class="lnr lnr-envelope"></i>
                                <h6><a href="#">yardimseven@hotmail.com</a></h6>
                                <p>Mail gönderebilirsiniz!</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-sm-8">
                        <form   method="POST" novalidate="novalidate">
                                 {% csrf_token %}
                                {{ form|crispy }}
                                    <br>

                        <button type="submit" class="btn btn-dark rounded-pill py-2 btn-block">Gönder</button>


                        </form>
                    </div>
                </div>
            </div>
        </section>
        <!--================Contact Area =================-->



        <!--================Contact Success and Error message Area =================-->
        <div id="success" class="modal modal-message fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-close"></i>
                        </button>
                        <h2>Thank you</h2>
                        <p>Your message is successfully sent...</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Modals error -->

        <div id="error" class="modal modal-message fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <i class="fa fa-close"></i>
                        </button>
                        <h2>Sorry !</h2>
                        <p> Something went wrong </p>
                    </div>
                </div>
            </div>
        </div>
        <!--================End Contact Success and Error message Area =================-->
    </div>

    <script src="{% static 'js/mapp.js' %}"></script>
    <script src="{% static 'js/gmaps.min.js' %}"></script>
    <script src="{% static 'js/theme.js' %}"></script>
    <script src="{% static 'js/contact.js' %}"></script>

{% endblock %}