{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="container">
        <div class="row">

         <!--================Blog Area =================-->
        <section class="blog_area p_120 single-post-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
       					<div class="main_blog_details">
                                        <div class="d-flex">
       										<img src="{% static 'img/home/ogrenciler2.jpg' %}" alt="" style="height: 350px; width: 700px">
       									</div>

       						<a href="#"><h4>{{ ihtiyaclar.title }}</h4></a>
       						<div class="user_details">
       							<div class="float-right">
       								<div class="media">
       									<div class="media-body">
       										<h5>Oluşturan: {{ ihtiyaclar.user }}</h5>
                                            <h5>İhtiyaç tutarı: {{ ihtiyaclar.sum }} TL</h5>
                                            <h5>Şehir: {{ihtiyaclar.city}}</h5>
       										<p>Oluşturulma Tarihi: {{ ihtiyaclar.created_date}}</p>
       									</div>
                                        <br>

       								</div>
       							</div>
       						</div>
       						<p>{{ ihtiyaclar.content }}</p>
                             <div class="col-md-4 ml-auto">
                                    <div class="p-4">
                                           <a href="/odemebagis/{{ ihtiyaclar.id }}"  class="btn btn-dark rounded-pill py-2 btn-block" style="width: 200px">Bağış Yap</a>
                                    </div>

       					</div>
       					<div class="navigation-area">
                            <div class="row">
                                {% if previous %}
                                        <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                    <div class="thumb">
                                        <a href="#"><img class="img-fluid" src="{% static 'img/home/ogrenciler.jpg' %}" alt="" style="width: 60px"></a>
                                    </div>
                                    <div class="arrow">
                                        <a href="{% url 'detay' previous.pk %}"><span class="lnr text-white lnr-arrow-left"></span></a>
                                    </div>
                                    <div class="detials">
                                        <p>Önceki İhtiyaç</p>
                                        <a href="{% url 'detay' previous.pk %}"><h4>{{ previous.title }}</h4></a>
                                    </div>
                                </div>
                                {% else %}
                                        <div class="col-lg-6 col-md-6 col-12 nav-left flex-row d-flex justify-content-start align-items-center">
                                    <div class="arrow">
                                        <a href="#"><span class="lnr text-white lnr-arrow-left"></span></a>
                                    </div>
                                    <div class="detials">
                                        <p>Önceki İhtiyaç</p>
                                        <a><h4>İhtiyaç yok</h4></a>
                                    </div>
                                </div>
                                {% endif %}
                                {% if next %}
                                    <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                    <div class="detials">
                                        <p>Sonraki İhtiyaç</p>
                                        <a href="{% url 'detay' next.pk %}"><h4>{{ next.title}}</h4></a>
                                    </div>
                                    <div class="arrow">
                                        <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
                                    </div>
                                    <div class="thumb">
                                        <a href="#"><img class="img-fluid" src="{% static 'img/home/ogrenciler.jpg' %}" alt="" style="width: 60px"></a>
                                    </div>
                                </div>
                                {% else %}
                                    <div class="col-lg-6 col-md-6 col-12 nav-right flex-row d-flex justify-content-end align-items-center">
                                    <div class="detials">
                                        <p> Sonraki İhtiyaç</p>
                                        <a ><h4> İhtiyaç Yok</h4></a>
                                    </div>
                                    <div class="arrow">
                                        <a href="#"><span class="lnr text-white lnr-arrow-right"></span></a>
                                    </div>
                                </div>

                                {% endif %}

                                </div>
                            </div>
                        </div>


        			</div>
                    <!--div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                                <div class="input-group">

                                </div>< /input-group >
                                <div class="br"></div>
                            </aside>

                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title">Populer Yardımlar</h3>
                                <div class="media post_item">

                                    <div class="media-body">
                                        <a href="#"><h3>Yardım Başlığı</h3></a>
                                        <p>02 Saat Önce</p>
                                    </div>
                                </div>
                                <div class="media post_item">

                                    <div class="media-body">
                                        <a href="#"><h3>Yardım Başlığı</h3></a>
                                        <p>02 Saat Önce</p>
                                    </div>
                                </div>
                                <div class="media post_item">

                                    <div class="media-body">
                                        <a href="#"><h3>Yardım Başlığı</h3></a>
                                        <p>03 Saat Önce</p>
                                    </div>
                                </div>
                                <div class="media post_item">

                                    <div class="media-body">
                                        <a href="#"><h3>Yardım Başlığı</h3></a>
                                        <p>01 Saat Önce</p>
                                    </div>
                                </div>
                                <div class="br"></div>
                            </aside>

                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title">Yardım Kategorileri</h4>
                                <ul class="list cat-list">
                                    <li>
                                        <a href="#" class="d-flex justify-content-between">
                                            <p>Öğrenci</p>
                                            <p>37</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex justify-content-between">
                                            <p>Köy Okulları</p>
                                            <p>24</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex justify-content-between">
                                            <p>Gıda/Giyim/Ev Eşyası</p>
                                            <p>59</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex justify-content-between">
                                            <p>Afetzedeler</p>
                                            <p>29</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex justify-content-between">
                                            <p>İhtiyaç Sahipleri</p>
                                            <p>15</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex justify-content-between">
                                            <p>Sokak Hayvanları</p>
                                            <p>09</p>
                                        </a>
                                    </li>

                                </ul>
                            </aside>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Blog Area =================-->
            </div>
{% endblock %}