{% extends 'base.html' %}
{% load static %}
{% block body %}
    <div class="container">
        <div class="row">

         <!--================Blog Area =================-->
        <section class="blog_area p_120 single-post-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
       					<div class="main_blog_details">

                                        <div class="d-flex">
       										<img src="{% static 'img/home/ogrenciler2.jpg' %}" alt="">
       									</div>

       						<a href="#"><h4>{{ ihtiyaclar.title }}</h4></a>
       						<div class="user_details">
       							<div class="float-right">
       								<div class="media">
       									<div class="media-body">
       										<h5>Oluşturan: {{ ihtiyaclar.user }}</h5>
                                            <h5>İhtiyaç tutarı: {{ ihtiyaclar.sum }} TL</h5>
                                            <h5>Şehir: {{ihtiyaclar.city}}</h5>
       										<p>Oluşturulma Tarihi: {{ ihtiyaclar.created_date}}</p>
       									</div>

       								</div>
       							</div>
       						</div>
       						<p>{{ ihtiyaclar.content }}</p>
                             <div class="col-md-4 ml-auto">
                                    <div class="p-4">
                                           <a href="#"  class="btn btn-dark rounded-pill py-2 btn-block" style="width: 200px">Bağış Yap</a>
                                    </div>

       					</div>



        			</div>

                </div>


        <!--================Blog Area =================-->
            </div>
{% endblock %}