{% extends 'base.html' %}
{% block body %}
    <div class="container">
    {% if ihtiyaclar %}

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">id</th>
                <th scope="col">Başlık</th>
                <th scope="col">Şehir</th>
                <th scope="col">Bağış Tutarı</th>
                <th scope="col">Tarih</th>
                <th scope="col">Güncelle</th>
                <th scope="col">Sil</th>
            </tr>
            </thead>
            <tbody>
            {% for ihtiyac in ihtiyaclar %}
                  <tr>
                      <th scope="row">{{ ihtiyac.id }}</th>
                      <td><a href="/ihtiyaclarim/ihtiyac/{{ ihtiyac.id }}">{{ ihtiyac.title }}</a></td>
                      <td>{{ ihtiyac.city }}</td>
                      <td>{{ ihtiyac.sum }} TL</td>
                      <td>{{ ihtiyac.created_date }}</td>
                        <td><a href="/ihtiyaclarim/update/{{ ihtiyac.id }}" class="btn btn-danger">Güncelle</a></td>
                        <td><a href="/ihtiyaclarim/delete/{{ ihtiyac.id }}" class="btn btn-danger">Sil</a></td>
                  </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <div class="alert alert-danger">Henüz bir ihtiyaç oluşturmadınız.</div>
    {% endif %}

    </div>
{% endblock  %}