{% extends 'base.html' %}
{% load static %}
{% block body %}
    {% load mptt_tags %}
<div class="container">
<!-- slide barr--->
    <link rel="stylesheet" href="{% static 'css/index.css' %}">

{% include 'yardim/carousel.html' %}
    <!-- slide bar-->
    <!--================Blog Area =================-->

<section class="blog_area p_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog_left_sidebar">

                            {% for Ihtiyac in ihtiyaclar %}

                            <article class="blog_style1">
                            	<div class="blog_img">
                            		<img class="img-fluid" src="{% static 'img/home/ogrenciler2.jpg' %}" alt="">
                            	</div>
                            	<div class="blog_text">
									<div class="blog_text_inner">
										<!-- class="cat" href="#">Gadgets</a-->
										<a href="{% url 'detay' pk=Ihtiyac.id %}" style="text-decoration: none"><h4>{{ Ihtiyac.title}}</h4></a>
										<p>{{ Ihtiyac.content | truncatechars:120 }}</p>
										<div class="date">
											<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{Ihtiyac.created_date}}</a>
                                            <a href="#"><i class="fa fa-money" aria-hidden="true"></i>{{Ihtiyac.sum}} TL</a>
                                            <a href="#"><i class="fa fa-location-arrow" aria-hidden="true"></i>{{ Ihtiyac.city }}</a>
											<!--a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 05</a-->
										</div>
									</div>
                            	</div>
                            </article>

                            {% endfor %}

                            {% if is_paginated %}
                            <nav class="pagination justify-content-center d-flex">
		                        <div class="pagination ">
                                        {% if page_obj.has_previous  %}
                                            <a href="?page={{ page.obj.previous_page_number }}" style="text-decoration: none">&laquo;</a>
                                        {% else %}
                                            <a href="#" style="text-decoration: none">&laquo;</a>
                                        {% endif %}
                                {%  for i in paginator.page_range %}
                                    {% if page_obj.number == i %}
                                      <a class="active" href="#" style="text-decoration: none">{{ i }}</a>
                                    {% else %}
                                      <a href="?page={{ i }}" style="text-decoration: none">{{ i }}</a>
                                    {% endif %}
                                {% endfor %}
                                      {% if page_obj.has_next %}
                                          <a href="?page={{ page_obj.next_page_number }}" style="text-decoration: none">&raquo;</a>
                                      {% else %}
                                          <a href="#" style="text-decoration: none">&raquo;</a>
                                      {% endif %}
		                        </div>
		                    </nav>
                            {% endif %}
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                                <div class="input-group">
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget author_widget">
                                <img class="author_img rounded-circle" src="{% static 'img/home/user.png' %}" alt="">
                                <h4>Ayşe Firdevs Çelik</h4>
                                <p>Sosyal medya hesapları</p>
                                <div class="social_icon">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-github"></i></a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                                <div class="br"></div>
                            </aside>
                            <!--aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title">Son Eklenen İhtiyaçlar</h3>
                                <div class="media post_item">

                                    <div class="media-body">
                                        <a href="#"><h3>Yardım Başlığı</h3></a>
                                        <p>02 Saat Önce</p>
                                    </div>
                                </div>
                                <div class="media post_item">

                                    <div class="media-body">
                                        <a href="#"><h3>Yardım Başlığı</h3></a>
                                        <p>02 Saat Önce</p>
                                    </div>
                                </div>
                                <div class="media post_item"-->
                                    <!--div class="media-body">
                                        <a href="#"><h3>Yardım Başlığı</h3></a>
                                        <p>03 Saat Önce</p>
                                    </div>
                                </div>
                                <div class="media post_item">

                                    <div class="media-body">
                                        <a href="#"><h3>Yardım Başlığı</h3></a>
                                        <p>01 Saat Önce</p>
                                    </div>
                                </div-->
                                <!--div class="br"></div>
                            </aside-->
                            <aside class="single_sidebar_widget">
                                <a href="#"><img class="img-fluid" src="{% static 'img/blog/add.jpg' %}" alt=""></a>
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title">Yardım Kategorileri</h4>
                                <ul class="list cat-list">
                                    <li>
                                        <a href="{% url 'ogrenci' %}" class="d-flex justify-content-between">
                                            <p>Öğrenci</p>

                                        </a>
                                    </li>
                                    <li>
                                        <a href="{% url 'index' %}" class="d-flex justify-content-between">
                                            <p>Köy Okulları</p>

                                        </a>
                                    </li>
                                    <li>
                                        <a href="{%  url 'yardim' %}" class="d-flex justify-content-between">
                                            <p>Gıda/Giyim/Ev Eşyası</p>

                                        </a>
                                    </li>
                                    <li>
                                        <a href="/payment/{{ 1 }}" class="d-flex justify-content-between">
                                            <p>Afetzedeler</p>

                                        </a>
                                    </li>
                                    <li>
                                        <a href="/payment/{{ 2 }}" class="d-flex justify-content-between">
                                            <p>İhtiyaç Sahipleri</p>

                                        </a>
                                    </li>
                                    <li>
                                        <a href="/payment/{{ 3 }}" class="d-flex justify-content-between">
                                            <p>Sokak Hayvanları</p>

                                        </a>
                                    </li>

                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--================Blog Area =================-->

</div>




{% endblock %}