{% extends 'base.html' %}
{% load static %}
{% block body %}
    <section class="blog_area p_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="blog_left_sidebar">

                            {% for Ihtiyac in ihtiyaclar %}

                            <article class="blog_style1">
                            	<div class="blog_img">
                            		<img class="img-fluid" src="{% static 'img/home/ogrenciler2.jpg' %}" alt="">
                            	</div>
                            	<div class="blog_text">
									<div class="blog_text_inner">
										<!-- class="cat" href="#">Gadgets</a-->
										<a href="{% url 'detay' pk=Ihtiyac.id %}" style="text-decoration: none"><h4>{{ Ihtiyac.title}}</h4></a>
										<p>{{ Ihtiyac.content | truncatechars:120 }}</p>
										<div class="date">
											<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{Ihtiyac.created_date}}</a>
                                            <a href="#"><i class="fa fa-money" aria-hidden="true"></i>{{Ihtiyac.sum}} TL</a>
                                            <a href="#"><i class="fa fa-location-arrow" aria-hidden="true"></i>{{ Ihtiyac.city }}</a>
											<!--a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 05</a-->
										</div>
									</div>
                            	</div>
                            </article>

                            {% endfor %}


                            <nav class="blog-pagination justify-content-center d-flex">
		                        <ul class="pagination">
		                            <li class="page-item">
		                                <a href="#" class="page-link" aria-label="Previous">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-left"></span>
		                                    </span>
		                                </a>
		                            </li>
		                            <li class="page-item"><a href="#" class="page-link">01</a></li>
		                            <li class="page-item active"><a href="#" class="page-link">02</a></li>
		                            <li class="page-item"><a href="#" class="page-link">03</a></li>
		                            <li class="page-item"><a href="#" class="page-link">04</a></li>
		                            <li class="page-item"><a href="#" class="page-link">09</a></li>
		                            <li class="page-item">
		                                <a href="#" class="page-link" aria-label="Next">
		                                    <span aria-hidden="true">
		                                        <span class="lnr lnr-chevron-right"></span>
		                                    </span>
		                                </a>
		                            </li>
		                        </ul>
		                    </nav>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="blog_right_sidebar">
                            <aside class="single_sidebar_widget search_widget">
                                <div class="input-group">
                                    <!--input type="text" class="form-control" placeholder="Search Posts"-->
                                    <span class="input-group-btn">
                                        <button class="btn btn-default" type="button"><i class="lnr lnr-magnifier"></i></button>
                                    </span>
                                </div><!-- /input-group -->
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget author_widget">
                                <img class="author_img rounded-circle" src="{% static 'img/home/user.png' %}" alt="">
                                <h4>Ayşe Firdevs Çelik</h4>
                                <p>Sosyal medya hesapları</p>
                                <div class="social_icon">
                                    <a href="#"><i class="fa fa-facebook"></i></a>
                                    <a href="#"><i class="fa fa-twitter"></i></a>
                                    <a href="#"><i class="fa fa-github"></i></a>
                                </div>
                                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget popular_post_widget">
                                <h3 class="widget_title">Populer Yardımlar</h3>
                                <div class="media post_item">
                                    <!--img src="{% static 'img/blog/popular-post/post1.jpg' %}" alt="post"-->
                                    <div class="media-body">
                                        <a href="#"><h3>Yardım Başlığı</h3></a>
                                        <p>02 Saat Önce</p>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <!--img src="{% static 'img/blog/popular-post/post2.jpg' %}" alt="post"-->
                                    <div class="media-body">
                                        <a href="#"><h3>Yardım Başlığı</h3></a>
                                        <p>02 Saat Önce</p>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <!--img src="{% static 'img/blog/popular-post/post3.jpg' %}" alt="post"-->
                                    <div class="media-body">
                                        <a href="#"><h3>Yardım Başlığı</h3></a>
                                        <p>03 Saat Önce</p>
                                    </div>
                                </div>
                                <div class="media post_item">
                                    <!--img src="{% static '' %}" alt="post"-->
                                    <div class="media-body">
                                        <a href="#"><h3>Yardım Başlığı</h3></a>
                                        <p>01 Saat Önce</p>
                                    </div>
                                </div>
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget">
                                <a href="#"><img class="img-fluid" src="{% static 'img/blog/add.jpg' %}" alt=""></a>
                                <div class="br"></div>
                            </aside>
                            <aside class="single_sidebar_widget post_category_widget">
                                <h4 class="widget_title">Yardım Kategorileri</h4>
                                <ul class="list cat-list">
                                    <li>
                                        <a href="#" class="d-flex justify-content-between">
                                            <p>Öğrenci</p>
                                            <p>37</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex justify-content-between">
                                            <p>Köy Okulları</p>
                                            <p>24</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex justify-content-between">
                                            <p>Gıda/Giyim/Ev Eşyası</p>
                                            <p>59</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex justify-content-between">
                                            <p>Afetzedeler</p>
                                            <p>29</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex justify-content-between">
                                            <p>İhtiyaç Sahipleri</p>
                                            <p>15</p>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#" class="d-flex justify-content-between">
                                            <p>Sokak Hayvanları</p>
                                            <p>09</p>
                                        </a>
                                    </li>

                                </ul>
                            </aside>
                        </div>
                    </div>
                </div>
            </div>
        </section>
{% endblock %}