{% extends 'base.html' %}
{% load static %}
{% block body %}
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        {% for Ihtiyac in ihtiyaclar %}
                            <article class="blog_style1">
                            	<div class="blog_img">
                            		<img class="img-fluid" src="{% static 'img/home/ogrenciler2.jpg' %}" alt="">
                            	</div>
                            	<div class="blog_text">
									<div class="blog_text_inner">
										<!-- class="cat" href="#">Gadgets</a-->
										<a href="{% url 'detay' pk=Ihtiyac.id %}" style="text-decoration: none"><h4>{{ Ihtiyac.title}}</h4></a>
										<p>{{ Ihtiyac.content | truncatechars:120 }}</p>
										<div class="date">
											<a href="#"><i class="fa fa-calendar" aria-hidden="true"></i>{{Ihtiyac.created_date}}</a>
                                            <a href="#"><i class="fa fa-money" aria-hidden="true"></i>{{Ihtiyac.sum}} TL</a>
                                            <a href="#"><i class="fa fa-location-arrow" aria-hidden="true"></i>{{ Ihtiyac.city }}</a>
											<!--a href="#"><i class="fa fa-comments-o" aria-hidden="true"></i> 05</a-->
										</div>
									</div>
                            	</div>
                            </article>
                        {% endfor %}
                    </div>

                             {% if is_paginated %}
                            <nav class="pagination justify-content-center d-flex">
		                        <div class="pagination ">
                                        {% if page_obj.has_previous  %}
                                            <a href="?page={{ page.obj.previous_page_number }}" style="text-decoration: none">&laquo;</a>
                                        {% else %}
                                            <a href="#" style="text-decoration: none">&laquo;</a>
                                        {% endif %}
                                {%  for i in paginator.page_range %}
                                    {% if page_obj.number == i %}
                                      <a class="active" href="#" style="text-decoration: none">{{ i }}</a>
                                    {% else %}
                                      <a href="?page={{ i }}" style="text-decoration: none">{{ i }}</a>
                                    {% endif %}
                                {% endfor %}
                                      {% if page_obj.has_next %}
                                          <a href="?page={{ page_obj.next_page_number }}" style="text-decoration: none">&raquo;</a>
                                      {% else %}
                                          <a href="#" style="text-decoration: none">&raquo;</a>
                                      {% endif %}
		                        </div>
		                    </nav>
                            {% endif %}
                        </div>
                    </div>

            </div>

{% endblock %}