{% extends 'base.html' %}
{% load static %}

{% block body %}
    <link rel="icon" href="{% static 'img/icon.png' %}" type="image/png">
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
<div class="px-4 px-lg-0">
  <div class="pb-5">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 p-5 bg-white rounded shadow-sm mb-5">

          <!-- Shopping cart table -->
          <div class="table-responsive">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col" class="border-0 bg-light">
                    <div class="p-2 px-3 text-uppercase">Product</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Price</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Quantity</div>
                  </th>
                  <th scope="col" class="border-0 bg-light">
                    <div class="py-2 text-uppercase">Remove</div>
                  </th>
                </tr>
              </thead>
              <tbody>
                <tr>
                    {% for item in schopcart %}
                              <th scope="row" class="border-0">
                                <div class="p-2">
                                  <img src="{{ item.product.image.url }}" alt="" width="70" class="img-fluid rounded shadow-sm">
                                  <div class="ml-3 d-inline-block align-middle">
                                    <h5 class="mb-0"> <a href="#" class="text-dark d-inline-block align-middle">{{ item.product.title }}</a></h5><span class="text-muted font-weight-normal font-italic d-block">{{ item.product.category}}</span>
                                  </div>
                                </div>
                              </th>
                              <td class="border-0 align-middle"><strong>{{item.price}} TL</strong></td>
                              <td class="border-0 align-middle"><strong>{{ item.quantity }}</strong></td>
                              <td class="border-0 align-middle"><a href="/orders/deletefromcart/{{ item.id }}" onclick="return confirm('Silmek istediğine emin misin?')" class="text-dark"><i class="fa fa-trash-o" aria-hidden="true"></i></a></td>
                            </tr>
                    {% endfor %}
              </tbody>
            </table>
           <div class="col-md-4 ml-auto">
              <div class="p-4">
                <ul class="list-unstyled mb-4">
                  <li class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold"><strong class="text-muted">Total</strong>
                    <h5 class="font-weight-bold" class="total" > {{total}} TL</h5>
                  </li>
                </ul>
                  <a href="{% url 'orderproduct' %}" class="btn btn-dark rounded-pill py-2 btn-block">Onayla</a>
              </div>
            </div>
              </div>
          <!-- End -->
        </div>
      </div>




{% endblock %}